/* globals */
// *{
//   font-family:serif;
// }
/* vars */
$dark-grey: #222;
$light-grey: #AAA;
$very-light-grey: #EEE;

body {
  font-size: 1.3em;
  color:$dark-grey;
  font-weight:lighter;
}

ul {
  list-style-type:none;
}

a {
  color:inherit;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

h3 {
  font-weight:normal;
  margin-top:0;
}

p {
  margin-top:0;
}

.inline {
  display:inline;
}

.inline-block {
  display: inline-block;
}
/* end globals */

/* nav navbar menu */

.navbar ul  {
  padding-inline-start:0.5rem;
}

.menu {
  position:fixed;
  top:0;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  padding-right:0.5rem;
  background-color:white;
  width:100%;
}

.navbar ul, li{
    display:inline;
}
.navbar ul {
  padding-inline-start:0.5rem;
}

.current {
  background-color:magenta;
}
/* end nav navbar menu */

/* post year individual */
.post-content {
  display:block;
  margin-top:5rem;
  margin-bottom:1.8rem;
}

.post-heading {
  padding-left:0.5rem;
  margin-top:0;
}

div.post-heading li, p, h3{
  padding-inline-start:40px;
  display: inline-block;
  padding-left:0;
  margin-bottom:0;
}

.post-content > p {
  padding-inline-start:0rem;
  padding-left:0.5rem;
  margin-top:0;
}

.post-content li {
  display:block;
}

.post-content ul {
    padding-inline-start:0.5rem;
}

.post-footer {
  background-color:white;
  display:block;
  position: fixed;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width:80%;  
  bottom:0;
  margin-bottom:1rem;
}

.page-navigation {
  width:100%;
  display:inline-block;
  font-size: 0.75em;
  padding-bottom:0.25rem;
}
.page-navigation .leftNav {
  // display:inline-block;
  float:left;
  width:50%;
}


.page-navigation .rightNav {
  // display:inline-block;
  width:50%;
  text-align:right;
  float:right;
}
/* end post year individual */

/* about page */
.site-info {
  position:fixed;
  bottom:0;
  left: 0;
  right: 0;
}
.site-info ul {
  //width:100%;
  text-align:center;
  margin-block-end:0;
  margin-block-start:0;
  display:block;
  margin-top:0;
  
  padding-inline-start:0;
  // margin-bottom:4rem;
}
.site-info li{
  font-size:80%;
  display: inline;
  padding:0.25rem;
}
/* end about page */

/* breadcrumbs */
#breadcrumbs {
  font-size:0.75em;
  width:100%;
  text-align:center;
  // position:fixed;
  // bottom:0;
  // left: 0;
  // right: 0;
  // padding-bottom:1rem;
  background-color:white;
}
