---
layout: default
---


<div class="post-content">
  <div class="post-heading padded-top">
    <h3 class="inline-block">{{ page.title }}</h3>
    <p>
      - {{ page.date | date_to_string }}
    </p>
  </div>
  {{ content }}
</div>
<div class="post-footer">
  <div class="page-navigation">
    {% if page.previous.url %}
    <div class="leftNav">
      <a class="prev" href="{{page.previous.url}}"><i class="fa fa-long-arrow-left"></i></a>
      <a class="prev" href="{{page.previous.url}}">{{page.previous.title | truncatewords: 5, "..."}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="rightNav">
      <a class="next" href="{{page.next.url}}">{{page.next.title | truncatewords: 5, "..."}}</i></a>
      <a class="next" href="{{page.next.url}}"><i class="fa fa-long-arrow-right"></i></a>
    </div>
      {% endif %}
  </div>
  {% include breadcrumbs.html %}
</div>
